*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root{
    --color-primary: #41436A;
    --color-secondary: #974063;
    --white: rgb(226, 226, 226);
}
